p Hello, #{brandName} customer!
p The following is the status of your
  b &nbsp;#{vehicle}
  | :
br
ul
  li #{statusCode} - #{statusDesc} as of #{statusUpdateDate}
  li vin: #{vin}
  li von: #{von}
  if buildSheetFound
    li build sheet:&nbsp;
      a(href=buildSheetUrl) #{buildSheetUrl}
  if windowStickerFound
    li window sticker:&nbsp;
      a(href=windowStickerUrl) #{windowStickerUrl}
br
br
img(src=image)
